body {
    line-height: 1.2;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Favorit', "sans-serif";
    -webkit-font-smoothing: antialiased;
    background-color: #222629;
    color: #fffffd;
}

a {
    text-decoration: none;
}
p {
    margin: 0;
}

@font-face {
    font-family: 'Favorit';
    src: local('Favorit Regular'), local('Favorit-Regular'),
    url('../../public/fonts/Favorit/FavoritC.woff2') format('woff2'),
    url('../../public/fonts/Favorit/FavoritC.woff') format('woff'),
    url('../../public/fonts/Favorit/FavoritC.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.title_inner {
    text-align: center;
    font-size: 56px;
    line-height: 1;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    font-family: 'Favorit', "sans-serif";
    align-items: center;
}

.title_inner span {
    /*font-family: Antonym,"sans-serif";*/
    font-weight: 200;
}

@media (min-width: 1280px) {

}

@media (max-width: 1279px) {
    .container {
        max-width: 100%;
        padding: 0 40px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {

}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 16px;
    }
    .title_inner {
        margin-bottom: 32px;
        font-size: 32px;
        text-align: center;
        line-height: 1;
    }
    .title_inner span {
        margin-top: 4px;
        font-size: 32px;
    }
}