body {
    line-height: 1.2;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Favorit', "sans-serif";
    -webkit-font-smoothing: antialiased;
    background-color: #222629;
    color: #fffffd;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Favorit';
    src: local('Favorit Regular'), local('Favorit-Regular'),
    url('../../public/fonts/Favorit/FavoritC.woff2') format('woff2'),
    url('../../public/fonts/Favorit/FavoritC.woff') format('woff'),
    url('../../public/fonts/Favorit/FavoritC.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (min-width: 1280px) {

}

@media (max-width: 1279px) {
    .container {
        max-width: 100%;
        padding: 0 40px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {

}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 16px;
    }
}