.calculator_wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.calculator_content {
    margin-top: 0;
    padding-top: 40px;
    background-color: #474a4f;
    margin-bottom: 16px;
    border-radius: 24px;
    max-width: 1400px;
}

.calculator_title {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.calculator_title h2 {
    line-height: 1;
    font-weight: 300;
    margin-bottom: 32px;
    text-align: left;
    display: block;
    font-size: 56px;
}

.calculator_app {

}

.calculator_app_content {
    padding-top: 32px;
    padding-bottom: 40px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.calculator_tabs {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.calculator_tabs button {
    height: 44px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.15;
    color: #87c232;
    margin-right: 40px;
    background-color: transparent;
    cursor: pointer;
}

.calculator_tabs button:last-child {
    margin-right: 0;
}

.calculator_tabs button.active {
    color: #fffffd;
    background-color: #87c232;
    border-radius: 100px;
    padding: 0 15px;
}

.calculator_credit,
.calculator_zaim {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calculator_value,
.calculator_big_value {
    background-color: transparent;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calculator_big_value {
    width: 100%;
    padding: 20px 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*background-color: #fff;*/
}

.calculator_value:nth-child(1),
.calculator_value:nth-child(2),
.calculator_value:nth-child(3) {
    width: calc(50% - 10px);
    margin-bottom: 24px;
}

.input_block {
    position: relative;
    max-width: 343px;
    width: 100%;
}

.calculator_value .input_block,
.calculator_big_value .input_block {
    max-width: 100%;
    height: 64px;
}

.input_slider {
    background-color: transparent;
    border-radius: 16px;
}

.input_slider_title {
    position: absolute;
    left: 16px;
    top: 8px;
    font-size: 12px;
    font-weight: 300;
    color: #9394a1;
    pointer-events: none;
    z-index: 3;
}

.input_slider input {
    line-height: 30px;
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #000;
    font-size: 14px;
    font-weight: 300;
}

.input_slider input:focus-visible {
    outline: none;
}

.calculator_value .input_slider input,
.calculator_big_value .input_slider input {
    font-size: 24px;
    padding: 22px 16px 10px;
}

.input_slider_cur {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 300;
    color: #9394a1;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.input_slider_slider {
    position: absolute;
    bottom: 0;
    width: calc(100% - 32px);
    left: 18px;
    right: 18px;
    background-color: #000;
}

.input_slider_track:first-child {
    height: 2px;
    background-color: #87c232;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.input_slider_track:first-child:before {
    display: block;
    content: "";
    width: 4px;
    height: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0) skewY(155deg);
    transform-origin: left;
}

.input_slider_dot {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    /*border: 2px solid #c7493a;*/
    background-color: #87c232;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    outline: none;
}

.calculator_big_decorator {
    margin-bottom: 16px;
    width: 50%;
    height: 8px;
    background-color: #fffffd;
    position: relative;
    border-radius: 12px;
}

.big_decorator {
    position: absolute;
    width: 70%;
    left: 0;
    background-color: #87c232;
    height: 100%;
    border-radius: 12px;
    cursor: pointer;
}

.big_btn {
    max-width: 420px;
    width: 100%;
    flex: 1 0 auto;
    height: 52px;
    justify-content: center;
    padding: 0;

    background-color: #87c232;
    color: #fffffd;
    border-radius: 60px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    transition: all .3s ease;
    cursor: pointer;
    border: 2px solid transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.big_btn:hover {
    transition: all .3s ease;
    background-color: #6a6e71;
    border: 2px solid #fffffd;
}

@media (min-width: 768px) and (max-width: 1279px) {

}

@media (max-width: 1023px) {

}

@media (max-width: 767px) {

}