.header{
    position: relative;
    padding: 10px 10px 0;
}
.header_wrapper{
    border-radius: 24px 24px 0 0;
    background-color: wheat;
}
.header_content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.header_logo{
    position: absolute;
    left: 0;
    border-bottom: none;
    max-width: 122px;
    width: 100%;
    flex: 1 0 auto;
    display: contents;
}
.header_logo span{
    font-size: 24px;
}
.header_logo img{
    max-width: 64px;
}
.nav-panel{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 710px;
    width: 100%;
}
.nav-link{
    margin-right: 50px;
    position: relative;
    cursor: pointer;
}