.header{
    position: relative;
    padding: 10px 10px 0;
}
.header_wrapper{
    border-radius: 24px;
    background-color: #6a6e71;
}
.header_content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}
.header_logo{
    position: absolute;
    left: 0;
    border-bottom: none;
    max-width: 122px;
    width: 100%;
    flex: 1 0 auto;
    display: contents;
    color: #fffffd;
}
.header_logo:hover{
    color: #fffffd;
}
.header_logo span{
    font-size: 24px;
}
.header_logo img{
    max-width: 64px;
}
.nav-panel{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 710px;
    width: 100%;
}
.nav-link{
    margin-right: 50px;
    position: relative;
    cursor: pointer;
}
.nav-link a{
    color: #fffffd;
}

.burger {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-image: url(/public/img/burger.svg);
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 1280px) {
    .burger {
        display: none !important;
    }
}

@media (max-width: 1279px) {
    .header_logo {
        left: 24px;
    }

    .nav-panel {
        padding-left: 50px;
    }
}

@media (max-width: 767px) {
    .header_logo {
        left: 16px;
    }

    .burger {
        display: flex;
        margin-left: auto;
        cursor: pointer;
    }
}