.partners {
    padding-top: 40px;
    padding-bottom: 80px;
}

.partners_container {

}

.partners_container_title {
    font-size: 56px;
    line-height: 1;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    text-align: left;
    align-items: flex-start;
}

.partners_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.partners_text {
    max-width: 58%;
    width: 100%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.25;
}

.partners_license p {
    display: flex;
    align-items: center;
    background-color: #6a6e71;
    line-height: 44px;
    border-radius: 12px;
    padding: 0 20px;
}

.partners_license {
    margin-left: auto;
}

.partners_license span {
    font-size: 14px;
}

.partners_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.partners_title {
    margin-bottom: 20px;
    font-size: 18px;
    color: #9394a1;
    font-weight: 300;
}

.partners_items_inner {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
}

.partners_items_items {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 0 20px;
    height: 67px;
    flex-grow: 1;
    background-color: #fffffd;
    /*max-width: 300px;*/
}

.partners_license p img {
    width: 30px;
    height: 30px;
    margin-right: 15px;

}